/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */



.wp-block-cgb-block-ski-resort-card  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

.card-preview__container h1::before,
.card-preview__container h2::before
{
  display:none!important;
  font-family: 'Open Sans', sans-serif!important;
}

.ski-resort-card{ 
  &__select{
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding-top: 40px;
  }
}

.card-preview{
  &__container{
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
  }

  &__header-container{
    height: 42px;
    background: #333333;
    border-radius: 5px 5px 0px 0px;
    display: grid;
  }

  &__header{
    font-weight: bold;
    font-size: 16px!important;
    letter-spacing: 0.025em;
    text-justify: center;

    color: #FFFFFF;
    align-self: center;
    margin: 0;
    margin-left: 0.5vw;
  }

  &__image-container{
    // min-width: 300px;
    min-height: 200px;
    display: grid;
  }

  &__image-byline-container{
    background: #333333af;
    color: #ffffff;
    height: 100%;
    max-height: 60px;
    align-self: end;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .image-byline__header{
    font-size: 18px!important;
    color: #fff;
    font-weight: 400;
    align-self: end;
  }

  .image-byline__date{
    font-size: 12px;
    align-self: start;
    text-align: center;
    margin-top: -5px;
  }

  &__facts-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 5px;
    min-height: 220px;
  }

  & .facts__sky-container{
    text-align: center;
  }

  & .facts__sky-icon{
    font-size: 40px;
    color: #555;
    margin-bottom: -20px;
  }

  & .facts__sky-text{
    font-weight: normal;
    font-size: 12px;
  }

  & .facts__temperature{
    font-weight: normal;
    font-size: 72px;
    text-align: center;
    letter-spacing: 0.025em;

    color: #EB6662;
  }
  
  & .facts__wind-container{
    text-align: right;
  }

  & .facts__wind-header{
    font-size: 24px;
    font-weight: normal;
  }

  & .facts__wind-header-sub{
    font-size: 12px;
  }

  & .facts__wind-description{
    font-weight: normal;
    font-size: 12px;
  }

  & .facts__condition-container{
    justify-self: center;
    align-self: center;
    display: grid;
  }

  & .facts__condition{
    font-weight: normal;
    font-size: 12px;
    justify-self: center;
    align-self: center;
  }
}
